@import url('https://fonts.googleapis.com/css?family=Supermercado+One');

* {
  margin: 0;
  box-sizing: border-box;
  justify-content: center;
  font-color: black;
  font-family:'Supermercado One', cursive;
  text-align: center;
}

div {
	margin: auto;
}

img {
  width: 100px;
  position: absolute;
  z-index: 0;
  left: 10px;
}

.microwave {
  width: 328px;
  height: 130px;
  background: url(images/closed.png) -137px 0px;
  position: absolute;
  margin-left: auto 328px;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 20;
}

.freezer {
  width: 328px;
  height: 155px;
  background: url(images/closed.png) -137px -130px;
  position: absolute;
  margin-top: 130px;
  margin-left: auto 328pc;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 20;
}

.fridge {
  width: 328px;
  height: 315px;
  background: url(images/closed.png) -137px -285px;
  position: absolute;
  margin-top: 285px;
  margin-left: auto 328px;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 20;
}

#microwave {
    width: 655px;
    height: 130px;
    background: url(images/microwave.png) -137px 0px;
    position: absolute;
    z-index: -20;
}

#freezer {
    width: 655px;
    height: 155px;
    background: url(images/open.png) -135px -130px;
    position: absolute;
    z-index: -20;
}

#fridge {
    width: 655px;
    height: 315px;
    background: url(images/open.png) -135px -285px;
    position: absolute;
    z-index: -20;
}

#txt {
	color: red;
	font-family: 'Supermercado One', cursive;
	text-align: center;
	font-size: 4em;
	font-style: italic;
	margin-top: 5%;
}

p {
  margin-bottom: 3%;
}

/* dramatic lighting!!! */
#spotLight {
  width:100%;
  height:100%;
  z-index:-9;
  position:absolute;
  display:none;
}

/* make clock flicker*/
#flick {
  animation: text-flicker 2s linear infinite;
}

@keyframes text-flicker {
  0% {
    opacity:0.1;
    text-shadow: 0px 0px 20px red;
  }
 
  2% {
    opacity:1;
    text-shadow: 0px 0px 20px red;
  }
  8% {
    opacity:1;
    text-shadow: 0px 0px 20px red;
  }
  9% {
    opacity:1;
    text-shadow: 0px 0px 20px red;
  }
  12% {
    opacity:0.1;
    text-shadow: 0px 0px red;
  }
  20% {
    opacity:1;
    text-shadow: 0px 0px 20px red
  }
  25% {
    opacity:0.3;
    text-shadow: 0px 0px 20px red
  }
  30% {
    opacity:1;
    text-shadow: 0px 0px 20px red
  }
 
  70% {
    opacity:1;
    text-shadow: 0px 0px 20px red
  }
 
  72% {
    opacity:.4;
    text-shadow:0px 0px 20px red
  }
 
  77% {
    opacity:1;
    text-shadow: 0px 0px 20px red
  }
  100% {
    opacity:1;
    text-shadow: 0px 0px 20px red
  }}

/* end of clock flicker */