@import url('https://fonts.googleapis.com/css?family=Shrikhand');

html {
	background-color: #edfcff;
	font-family: sans-serif, monospace;
}

h1 {
	color: #4286f4;
	text-align: center;
	font-family: 'Shrikhand', cursive;
}

h2 {
	color: #f45f42;
	text-align: center;
	font-family: 'Shrikhand', cursive;
}

h3 {
	color: #f4df42;
	text-align: center;
	font-family: 'Shrikhand', cursive;
}

ol {
	margin-left: 40%
}

a:hover {
	color: red;
	font-size: 1.5em;
}