@import url('https://fonts.googleapis.com/css?family=UnifrakturMaguntia');


* {
 	box-sizing: border-box;
 	text-align: center;
 	font-family: Helvetica, Arial;
}

body {
	background: white
	margin: 0;
}

h1 {
	font-family: 'UnifrakturMaguntia', Times New Roman, cursive;
	color: rgba(0,0,255);
	font-size: 3em;
}

div {
	border: 1px dotted white;
	margin: 3em;
}

p {
	line-height: 0em;
}

.line-1 {
	color: grey;
	font-family: Times New Roman, italic;
}
