@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing:border-box;
  margin-top: 70px;
  font-family: Helvetica, sans-serif;
}

img {
	filter: brightness(.4);
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: rgb(193, 217, 255);
  font-size: 24px;
  font-family: Courier, serif;
  font-style: italic;
  font-weight: bold;
  padding: 250px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.orange {
	color: rgb(255, 210, 153);
}

.orange:hover {
  color: #fff;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 1em;
  margin: 0 2px;
  display: inline-block;
  transition: color 0.6s ease;
}

.active, .dot:hover, .solution:hover {
  color: #fff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
