html {
	background-color:#fff8f3;
}

html, body {
	margin: 0;
	padding-top: 7%;
	padding-bottom: 7%;
	position: relative;
	min-height: 100%;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.container {
	width: 80%;
	margin: auto;
	min-width: 1100px;
	max-width: 1300px;
	position: relative;
}

@media (min-width: 750px) and (max-width: 970px){
	.container {
		width: 100%;
		min-width: 750px;
	}
}

.sortable-ghost {
	opacity: .2;
}

img {
	border: 0;
	vertical-align: middle;
	width: 100px;
}

.tilefirst {
	width: 90%;
	min-width: 245px;
	padding: 40px 3px;
	text-align: center;
	margin-top: 15px;
	margin-right: 30px;
	background-color: #fff8f3;
	display: inline-block;
	vertical-align: top;
}


.tile {
	width: 23%;
	min-width: 245px;
	color: #FF7270;
	padding: 40px 30px;
	text-align: center;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 30px;
	background-color: #fff;
	display: inline-block;
	vertical-align: top;
}

	.tile__list {
		margin-top: 10px;
	}
		.tile__list:last-child {
			margin-right: 0;
			min-height: 80px;
		}

		.tile__list img {
			cursor: move;
			margin: 10px;
			border-radius: 100%;
		}